<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>731205111293-arfr41qgl0i1p5q20gn2rpn7rlsqe9r0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.731205111293-arfr41qgl0i1p5q20gn2rpn7rlsqe9r0</string>
	<key>API_KEY</key>
	<string>AIzaSyA_3sOnt1dyIFX9bAy--OYuV_egPuffKNI</string>
	<key>GCM_SENDER_ID</key>
	<string>731205111293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Mitchell-Gant.KeepInTouch</string>
	<key>PROJECT_ID</key>
	<string>keep-in-touch-2122f</string>
	<key>STORAGE_BUCKET</key>
	<string>keep-in-touch-2122f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731205111293:ios:89c60fcc5c4e5ba4</string>
	<key>DATABASE_URL</key>
	<string>https://keep-in-touch-2122f.firebaseio.com</string>
</dict>
</plist>